.weatherbacground{
  background: url("../../weatherapp/src/Asset/img/cloudimg1.jpg");
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment:fixed;

}
.wetherparent{
  width: 400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
margin-bottom: 100px;
 
}
.weatherdes{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px #888888

}
.weatherimg{
  mix-blend-mode: multiply;
  filter: contrast(1);
  width: 50px;
  height: 50px;
  margin-top: 10px;
}
.weatheinfo{
  background-color: #151414;
 padding: 0px 57px 21px 57px;
 color: white;
 margin-bottom: 30px;
 border-radius: 20px;
 text-align: center;
}
